<!-- <app-nav-bar></app-nav-bar>

<div class="col-md-3 mb-3">
  <input type="text" class="form-control" placeholder="Search by name" (change)="onSearchNameChange()" [(ngModel)]="searchName">
</div>

<div class="col-md-3 mb-3">
  <select class="form-select" [(ngModel)]="selectedCategory" aria-placeholder="Choose a category" (change)="filterByCategory()">
    <option value="open">Choose a category</option>
    <option *ngFor="let category of categories" >{{ category?.categoryName }}</option>
  </select>
</div>


<div class="col-md-3 mb-3">
  <select class="form-select"  [(ngModel)]="selectedLearning" (change)="filterByLearningMethod()">
    <option value="open">Choose a form of learning</option>
    <option value="online">Online</option>
    <option value="offline">Offline</option>
  </select>
</div>

<div class="component-container">
  <div *ngFor="let c of filteredCourses">
      <div>{{c.courseName}}</div>
      <button (click)="showDetails(c)">to show Details</button>
  </div>
</div> -->




  <app-nav-bar></app-nav-bar>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-3 mb-3">
      <input type="text" class="form-control" placeholder="Search by name" (change)="onSearchNameChange()" [(ngModel)]="searchName">
    </div>
  
    <div class="col-md-3 mb-3">
      <select class="form-select" [(ngModel)]="selectedCategory" aria-placeholder="Choose a category" (change)="filterByCategory()">
        <option value="open">Choose a category</option>
        <option *ngFor="let category of categories">{{ category?.categoryName }}</option>
      </select>
    </div>
  
    <div class="col-md-3 mb-3">
      <select class="form-select" [(ngModel)]="selectedLearning" (change)="filterByLearningMethod()">
        <option value="open">Choose a form of learning</option>
        <option value="online">Online</option>
        <option value="offline">Offline</option>
      </select>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="component-container">
        <div *ngFor="let c of filteredCourses" class="card mb-3 text-center">
          <img src="{{ c.picture }}" class="card-img-top mx-auto mt-3" style="width: 200px;" alt="Course Image">
          <div class="card-body">
            <h5 class="card-title">{{ c.courseName }}</h5>
            <!-- <p class="card-text">Details: {{ c.details }}</p> -->
            <button class="btn btn-primary" (click)="showDetails(c)">Show Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



 