<div class="text-end">
    <button type="button" class="btn btn-info" routerLink="/allCourses">all courses</button>
    <button type="button" class="btn btn-info" routerLink="/signUp">add course</button>
    <button type="button" class="btn btn-info" routerLink="/home">logout</button>
  </div>
  <!-- <div class="text-end">
    <button type="button" class="btn btn-outline-info me-2" routerLink="/login" *ngIf="!myIsLogin">Login</button>
    <button type="button" class="btn btn-info" routerLink="/signUp" *ngIf="!myIsLogin">Sign Up</button>
    <button type="button" class="btn btn-info" routerLink="/allCourses" *ngIf="myIsLogin">All Courses</button>
    <button type="button" class="btn btn-info" routerLink="/addCourse" *ngIf="myIsLogin">Add Course</button>
    <button type="button" class="btn btn-info" routerLink="/home" *ngIf="myIsLogin">Logout</button>
</div> -->
